<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sistema de Inventario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid"">
          <a class="navbar-brand" href="#">Sistema Inventario</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/components">Componentes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/orders">Ordenes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/inventoryMoves">Movimientos de inventario</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/suppliers">Suplidores</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <div style="margin-left: 2%; margin-right: 2%; margin-top: 1%;">
        <a href="#" class="btn btn-primary" style="margin-left: 7%; margin-right: 7%; margin-top: 1%;">Registrar Suplidor</a>

        <div class="card" style="margin-left: 7%; margin-right: 7%; margin-top: 1%;">
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Suplidor</th>
                        <th scope="col">RNC</th>
                        <th scope="col">Ciudad</th>
                        <th>Opciones</th>
                      </tr>
                    </thead>
                    <tbody>
                        <% for(var i = 0; i < components.length; i++) { %>
                            <tr>
                              <td><%= suppliers[i].codSupplier %> </td>
                              <td><%= suppliers[i].name %> </td>
                              <td><%= suppliers[i].rnc %> </td>
                              <td><%= suppliers[i].city %> </td>

                              <td style="width: 25%;">
                                  <a href="/supplier/ver/<%= suppliers[i].codSupplier %>" class="btn btn-primary">Ver</a>
                                  <a href="/supplier/edit/<%= suppliers[i].codSupplier %>" class="btn btn-success">Modificar</a>
                                  <a href="/supplier/del/<%= suppliers[i].codSupplier %>" class="btn btn-danger">Eliminar</a>
                              </td>
                            </tr>
                          <% }%> 
                        <tr>
                            <td>SUP-1</td>
                            <td>un mmg</td>
                            <td>13-991911</td>
                            <td>Santiago de los caballeros</td>
                            <td style="width: 25%;">
                                <a href="#" class="btn btn-primary">Ver</a>
                                <a href="#" class="btn btn-success">Modificar</a>
                                <a href="#" class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>
                        
                    </tbody>
                  </table>
            </div>
          </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>